.main_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1) ;
    background-color: rgb(131, 3, 3);
}
.left_bar{
    grid-column:1/3 ;

}
.container{grid-column: 3/11;

}
.right_bar{grid-column: 11/13;

}

.left_bar p,
.right_bar p {
    margin: 1em;
    padding: 1em;
    border-style: groove;
    border-width: 4px;
    border-color: aqua;
    color: aqua;
}





@media (max-width: 890px) {
    .main_container {
        grid-template-rows: repeat(3);
    }
        .left_bar{
            grid-column:1/13 ;
            grid-row: 1/2;
        
        }
        .container{
            grid-column:1/13 ;
            grid-row: 2/3;
        
        }
        .right_bar{
            grid-column:1/13 ;
            grid-row: 3/4;
        
        }
        
    } 

@media (max-width: 600px) {
    .main_container {
        grid-template-rows: repeat(3);
    }

    .cart {
        margin-inline: 0;
    }
    
}